@model ProjectViewModel

<div class="project card" data-project-id="@Model.Id">
    <div class="card-header">
        <div class="project-image">
            <img src="/images/add-project-logo.svg" alt="template project" class="project-card-img">
        </div>
        <span class="project-name">@Model.ProjectName</span>
        <span class="client-name">@Model.ProjectClient</span>

        <button class="btn-actions" type="button" data-type="dropdown" data-target="#project-dropdown-@Model.Id">
            <img src="/images/more.svg" alt="">
        </button>

        <div id="project-dropdown-@Model.Id" class="project-dropdown dropdown">
            <div class="dropdown-body">
                <div class="dropdown-actions">
                    <button data-type="modal" data-target="#edit-project-modal" class="btn-action">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span>Edit</span>
                    </button>

                    <div class="dropdown-divider"></div>

                    <button class="btn-action delete-btn" data-id="@Model.Id">
                        <i class="fa-solid fa-trash"></i>
                        <span>Delete Project</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="card-body">
        <p>@Html.Raw(Model.ProjectDescription)</p>
    </div>
    <div class="card-footer"></div>
</div>